.primary-nav {
	padding-top: 10px;

	@mixin atMedium {
		padding-top: 0;
	}

	&--pull-right {
		@mixin atMedium {
			float: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;

		li {
			list-style: none;
			display: inline-block;
			padding-right: 7px;

			@mixin atMedium {
				float: left;
				padding-right: 20px;
				display: block;
			}

			a {
				text-decoration: none;
				color: white;
				font-weight: 300;
				padding: 5px 8px;
				display: block;
				font-size: 0.8rem;
				background-color: rgba($primaryColor, 0.5);

				@mixin atMedium {
					padding: 12px 0;
					font-size: 1rem;
					background-color: transparent;
				}
			}
		}

		li:last-child {
			padding-right: 0;

			@mixin atMedium {
				padding-right: 20px;
			}
		}
	}
}